.fade.show {
  opacity: 0.9 !important;
}
.modal {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;
}
.modal-dialog {
  margin: 0;
  max-width: 90vw;
  max-height: 90vh;
}
.modal-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.5 !important;
  z-index: 1999 !important;
}

.modal-content {
  border-radius: 3px;
  border: 8px solid rgb(181, 218, 193);
  box-shadow: 0 0px 7px rgb(0, 0, 0);
}

.modal-body {
  padding: 20px;
}

.modal-header {
  background-color: #111111;
  border-bottom: none;
  padding: 13px 20px 22px;
}

.modal-footer {
  padding: 20px;
  border-top: 0;
  padding-top: 0;
}

.modal-title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-bottom: -10px;
  color: #fff;
}

.close {
  color: #fff;
  text-shadow: none;
}

.modal-header .close {
  background: rgba(255, 0, 0, 0.83);
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 3px;
}
