.fade.show {
  opacity: 0.9 !important;
}

.modal {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 20 !important;
  overflow: auto;
}

.modal-dialog {
  margin: 0;
  max-width: 90vw;
  max-height: 90vh;
}

.modal-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.5 !important;
  z-index: 19 !important;
}

.modal-content {
  border-radius: 3px;
  border: 8px solid rgb(181, 218, 193);
  box-shadow: 0 0px 7px rgb(0, 0, 0);
}

.modal-body {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.modal-body .img-responsive {
  height: 400px;
}

.modal-header {
  background-color: #111111;
  border-bottom: none;
  padding: 13px 20px 22px;
}

.modal-footer {
  padding: 20px;
  border-top: 0;
  padding-top: 0;
}

.modal-title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-bottom: -10px;
  color: #fff;
}

.close {
  color: #fff;
  text-shadow: none;
}

.modal-header .close {
  background: rgba(255, 0, 0, 0.83);
  opacity: 1;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: 3px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.close:focus,
.close:hover {
  line-height: 1.5 !important;
}

.view {
	margin: 1px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 32.5%;
	height: 150px;
	cursor: default;
	background: #242424 no-repeat center center;
}

.view .mask,
.view .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view img {
	display: block;
	position: relative;
	width: auto;
	max-width: 100%;
	height: 100%;
}

.view h2 {
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	margin: 20px 40px 0px 40px;
}

.view a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
	margin-top: 10px;
}

.view a.info:hover {
	box-shadow: 0 0 5px #000;
	background-color: rgb(181, 218, 193);
	color: #212129;
}

/*1*/

.view-first img {
	/*1*/
	transition: all 0.2s linear;
}

.view-first .mask {
	opacity: 0;
	background-color: rgba(12, 19, 27, 0.6);
	transition: all 0.4s ease-in-out;
}

.view-first h2 {
	transform: translateY(-100px);
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first a.info {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

/* */

.view-first:hover img {
	transform: scale(1.1);
}

.view-first:hover .mask {
	opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
	opacity: 1;
	transform: translateY(0px);
}

.view-first:hover a.info {
	transition-delay: 0.2s;
}

/*2*/

.view-second img {
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
}

.view-second .mask {
	background-color: rgba(12, 19, 27, 0.6);
	width: 100%;
	padding: 260px;
	height: 100%;
	opacity: 0;
	transform: translate(265px, 145px) rotate(45deg);
	-webkit-transform: translate(265px, 145px) rotate(45deg);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.view-second h2 {
	background: transparent;
	-webkit-transform: translate(200px, -200px);
	transform: translate(200px, -200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-second a.info {
	transform: translate(0px, 160px);
	-webkit-transform: translate(0px, 160px);
	transition: all 0.2s 0.1s ease-in-out;
	-webkit-transition: all 0.2s 0.1s ease-in-out;
}

.view-second:hover .mask {
	opacity: 1;
	transform: translate(-80px, -125px) rotate(45deg);
	-webkit-transform: translate(-80px, -125px) rotate(45deg);
}

.view-second:hover h2 {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
}

.view-second:hover a.info {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
}

.view-tenth img {
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
	background-color: rgba(12, 19, 27, 0.6);
	transition: all 0.5s linear;
	opacity: 0;
}

.view-tenth h2 {
	background: transparent;
	margin: 20px 40px 0px 40px;
	transform: scale(0);
	color: #fff;
	transition: all 0.5s linear;
	opacity: 0;
}

.view-tenth a.info {
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear;
}

.view-tenth:hover img {
	-webkit-transform: scale(10);
	transform: scale(10);
	opacity: 0;
}

.view-tenth:hover .mask {
	opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
	transform: scale(1);
	opacity: 1;
}

/* portfolio modal style*/
.mf-content {
	text-align: left;
}

@media (max-width: 767px) {
	.view {
		width: 49%;
		height: 210px;
	}

	.category-nav li {
		width: 50%;
	}

	.folio-container {
		height: auto;
		overflow: hidden;
	}
}

@media (max-width: 460px) {
	.view {
		width: 47%;
		height: 160px;
	}
}