.rotate-out {
  animation: rotateOutShow 1s forwards;
}
.rotated {
  /* 可能是补充的样式 */
}
@keyframes rotateOutShow {
  from { opacity: 0; transform: translateY(40px);}
  to   { opacity: 1; transform: translateY(0);}
}