/* #frontpage{
	background: #b60707;
}
.invert{color: #fff;}
.frontclick {
    position: absolute;
    max-width: 37px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    opacity: 0;
    transition: all .3s;
}
.frontclick.active {
	opacity: 1;
}
.shadow-img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #111111;
	background-size: 100% 100%;
	z-index: 0;
} */
 
#frontpage img{
	width: 100%;
}
.frontclick {
    position: absolute;
    max-width: 37px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-250%);
    bottom: 15px;
    opacity: 1;
    transition: all .3s;
}
.frontclick.active {
	opacity: 1;
}
.pulse {
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    margin: 11px 0px 0px -12px;
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform: rotateX(55deg);
    z-index: -2;
    top: 0px;
    left: 4px;
  }
  .pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-box-shadow: 0 0 1px 2px #bdbdbd;
    box-shadow: 0 0 1px 2px #bdbdbd;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }